{{extend 'layout.html'}}
{{block header}}
<center style="background-color: #333; color:white; padding:30px">
  <h1 class="mt-5">🤖 TurismoBot</h1>
  <p>Información útils sobre lugares turísticos, hospedajes y restaurantes de la Provincia de Tucumán - Argentina.</p>
</center>
{{end}}
<div class="row">
  <div class="col-sm-12 p-3">
    <center>
      <div>
        <img src="{{=URL('static', 'images/qr_turismobot.gif')}}" alt="qr" >
      </div>
      <div class="mt-3">
        <img src="https://storage.googleapis.com/assistant-prod/consumer/public/logos/hey-google-horizontal.svg" alt="hey google" width="20%">
      </div>
    </center>
  </div>
  <div class="col-sm-12 p-3">
    <center>
      <h2>Información turística de Tucumán... al alcance de una conversación 🤳</h2>
    </center>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <h1>🚣</h1>
        <h5 class="card-title">¿Qué hacer?</h5>
        <p class="card-text">Encuentre aquí los diferentes Circuitos Turísticos de la provincia.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <h1>🍝</h1>
        <h5 class="card-title">¿Dónde comer?</h5>
        <p class="card-text">Nuestra gastronomía a su alcance.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <h1>🛌</h1>
        <h5 class="card-title">¿Dónde dormir?</h5>
        <p class="card-text">Alojamientos de nuestra provincia a su disposición.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mt-3">
      <div class="card-body">
        <h1>🎭</h1>
        <h5 class="card-title">Eventos Culturales</h5>
        <p class="card-text">Conozca los eventos destacados en diferentes puntos de la provincia.</p>
      </div>
    </div>
  </div>
</div>